{:company/legal-name "LyondellBasell Industries N.V."
 :company/lei "BN6WCCZ8OVP3ITUUVN49"
 :company/jurisdiction "GB"
 :company/website "https://www.lyondellbasell.com"
 :company/ticker "LYB (NYSE)"}
